<style>
h2 {text-align: center;}
p {text-align: center;}
</style>
<h2>Product Recomendation System</h2>

<div>
    <div align="center" class="image-section">
        <div>
            <input type="text" name="user" class="movie form-control" id="userName" placeholder="Enter the User Name" /></br></br>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 align="center" id="result">
        <table id="userTable" border="1" align='center'>
            <thead>
              <tr>
                <th width="50%" >Recomended Products</th>
              </tr>
            </thead>
            <tbody></tbody>
         </table>
    </h3>

</div>